<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>404 Error Page | CodingNepal</title>
    <link rel="stylesheet" href="oopsPage.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/ErrorTemplate/oopsPage.css"
      th:href="@{../css/ErrorTemplate/oopsPage.css}"
    />
  </head>
  <body>
    <div id="error-page">
      <div class="content">
        <h2 class="header" data-text="404">Empty</h2>
        <h4 data-text="Opps! Page not found">Opps! Page not found</h4>
        <p>Sorry, Currently your item is Empty</p>
        <div class="btns">
          <a href="https://www.codingnepalweb.com/">Back To Dashboard</a>
        </div>
      </div>
    </div>
  </body>
</html>
