<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
      <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />


    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/signuploginregisteration/style.css"
      th:href="@{../css/signuploginregisteration/style.css}"
    />

</head>
<body>
      <div class="container">
      <div class="login-link">
        <div class="logo">
          <div>
          <img th:src="@{../images/homework logo img.png}" alt="homeWork logo" style="width: 50px;height: 50px; border-radius: 50%; margin-top: 5px;margin-left: 14px;"/>
          </div>
          <div>
          <span class="text">Home<span style="color: #000000;">W</span>ork</span>
        </div>
        </div>
        <p class="side-big-heading"> Already have a member</p>
        <p class="primary-bg-text">
          To keep track on your dashboard please login with your personal info
        </p>
        <a th:href="@{/registrations}" class="loginbtn">Register now</a>
      </div>
      <form action="" class="sign-form-container" th:action="@{/logindone}" th:object="${Check}" method="post">
        <p class="big-heading">Login to your account</p>
            <div style="display: flex; justify-content: end; align-items: end">
          <p class="backbtn" style="text-align: end">
            <box-icon
              name="arrow-back"
              style="margin-right: 5px; align-self: center"
            ></box-icon
            ><a th:href="@{/home}" style="text-align: end">Back To Dashborad</a>
          </p>
        </div>

        <div class="login-form-contents">
          <div class="text-fields email">
                <label for="email"><box-icon name='envelope' ></box-icon></label>
                <input
                  type="email"
                  name="EmailId"
                  th:value="${Check.EmailId}"
                  id="email"
                  placeholder="Enter your email id"
                  th:classappend="${#fields.hasErrors('EmailId')} ? 'error' : ''"
                />
              </div>

               <div class="text-field">
                <p
                  th:each=" e:${#fields.errors('EmailId')}"
                  th:text="${e}"
                  th:classappend="${#fields.hasErrors('EmailId')} ? 'error' : ''"
                ></p>
              </div>

                <div class="text-fields password">
                <label for="password"
                  ><box-icon name="lock-alt"></box-icon
                ></label>
                <input
                  type="password"
                  name="Password"
                  th:value="${Check.Password}"
                  id="password"
                  placeholder="Enter password"
                />
              </div>
               <div class="text-field">
                <p
                  th:each=" e:${#fields.errors('Password')}"
                  th:text="${e}"
                  th:classappend="${#fields.hasErrors('Password')} ? 'error' : ''"
                ></p>
              </div>
        </div>
        <input type="submit" value="Login" class="nextPage">
      </form>
</body>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</html>